<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

<!--trying to set root path-->
    <root class="com.movie_collection" >
        <appender-ref ref="stdout"/>
    </root>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

<!-- adding to the group of mappers -->
<!-- NOTE: set to trace internal lowest level inside mappers-->
    <logger name="com.movie_collection.dal.mappers">
        <level value="trace"/>
    </logger>

</configuration>