@import "bootstrap3.css";
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=ZCOOL+KuaiLe&display=swap");

.fontDesign {
    -fx-font-family: 'Caveat', cursive;
    -fx-font-size: 35px;
}

* {
    -fx-nord0: #192C35;
    -fx-nord1: #4FC4F4;
    -fx-nord2: #434C5E;
    -fx-nord3: #4C566A;
    -fx-nord4: #D8DEE9;
    -fx-nord5: #E5E9F0;
    -fx-nord6: #ECEFF4;
    -fx-nord7: #8FBCBB;
    -fx-nord8: #88C0D0;
    -fx-nord9: #81A1C1;
    -fx-nord10: #5E81AC;
}

/* NAVBAR */
.nav-bar {
    -fx-background-color: -fx-nord0;
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
}

.nav-bar-search {
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.nav-bar-spinner {
    -fx-border-color: black;
    -fx-border-width: 1 1 1 1;
    -fx-border-style: solid;
}

.nav-bar-spinner-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: -fx-nord1;
    -fx-border-width: 1 1 1 1;
    -fx-border-style: solid;
}

.nav-bar-spinner-button:hover {
    -fx-background-color: -fx-nord1;
    -fx-text-fill: black;
    -fx-border-color: -fx-nord1;
    -fx-border-width: 1 1 1 1;
    -fx-border-style: solid;
    -fx-cursor: hand;
}

/* DRAWER  */
.drawer {
    -fx-background-color: -fx-nord0;
}

.allMoviesButton {
    -fx-cursor: hand;
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-background-color: -fx-nord0;
    -fx-min-height: 40;
    -fx-graphic: url('../icons/moviesIcon.png');
    -fx-graphic-text-gap: 10; /* gap between icon and button text */
    -fx-content-display: left; /* position of the icon */
}

.allMoviesButton:hover, .mediaPlayerButton:hover {
    -fx-background-color: rgba(4, 4, 4, 0.17);
    -fx-text-fill: white;
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-color: #1b0e3c;
}

.mediaPlayerButton {
    -fx-cursor: hand;
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-background-color: -fx-nord0;
    -fx-min-height: 40;
    -fx-graphic: url('../icons/mediaPlayerIcon.png');
    -fx-graphic-text-gap: 10; /* gap between icon and button text */
    -fx-content-display: left; /* position of the icon */
}


.menu-bar-middle-container {
    -fx-text-fill: white;
    -fx-background-color: -fx-nord0;
    -fx-content-display: left;
}

.menu-bar-middle-title {
    -fx-background-color: #040404;
    -fx-opacity: 25%;
}

.menu-bar-scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-graphic-text-gap: 5; /* gap between icon and button text */
    -fx-content-display: left; /* position of the icon */
}


/* ACTION BUTTONS */

.action-button {
    -fx-font-family: Arial Rounded MT Bold;
    -fx-font-weight: 700;
    -fx-cursor: hand;
    -fx-border-color: black;
    -fx-border-width: 1 1 1 1;
    -fx-border-style: solid;
    -fx-background-color: -fx-nord1;
    -fx-border-radius: 49.6894px;
    -fx-text-fill: white;
    -fx-background-radius: 49.6894px;
}


.action-button:hover {
    -fx-background-color: #4FC4F4;
    -fx-text-fill: black;
    -fx-border-color: -fx-nord1;
    -fx-border-width: 1 1 1 1;
    -fx-border-style: solid;
}

.custom-button {
    -fx-cursor: hand;
    -fx-max-width: 150px;
    -fx-alignment: BOTTOM_LEFT;
}

/* DIALOG */

.dialog-style .label {
    -fx-text-fill: white;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
    -fx-font-family: "Arial Rounded MT Bold";
}

.dialog-style .header-panel {
    -fx-background-color: -fx-nord0;
    -fx-text-fill: white;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.dialog-style .button .CANCEL {
    -fx-background-color: warning;
}

.dialog-style .button .OK {
    -fx-background-color: warning;
}

.dialog-style .ok-button {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.dialog-style {
    -fx-background-color: -fx-nord2;
}

.ok-button {
    -fx-background-color: red;
}

.custom-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

.custom-button:hover {
    -fx-background-color: #1f3242;
    -fx-border-color: transparent;
}


/* Base recomendation drawing*/

.watch-label-base {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 16px;
    -fx-font-weight: 700;
}

.dialog-style-default .label {
    -fx-text-fill: white;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
    -fx-font-family: "Arial Rounded MT Bold";
}

.dialog-style-default .header-panel {
    -fx-background-color: -fx-nord0;
    -fx-text-fill: white;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.dialog-style-default .button .OK {
    -fx-background-color: warning;
}

.dialog-style-default .ok-button {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.dialog-style-default {
    -fx-background-color: -fx-nord2;
}

